* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 74px;
    background-color: #2e2e2e;
}
.header__content {
    display: flex;
    justify-content: space-between;
    width: 82%;
}
.header__logo {
    display: flex;
    width: 132px;
    height: 26px;
    margin-top: 7px;
}
.header__avatar_wrapper {
    display: flex;
    align-items: center;
    width: 80px;
    height: 40px;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 8px;
    background-color: #dd783f;
}
.avatar__letter {
    display: flex;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f7f7f7;
}
.content__header {
    width: 82%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 32px;
}
.publish-button {
    outline: none;
    transition: ease 0.28s;
    width: 93px;
    height: 48px;
    background-color: #dd783f;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}
.publish-button:hover {
    background: linear-gradient(to right, rgba(221, 120, 63, 0.8), rgba(221, 120, 63, 0.8));
    transition: ease 0.28s;
}
.publish-button:focus {
    outline: 2px rgba(241, 201, 208, 1);
    transition: ease 0.28s;
}
.publish-button:active {
    scale: 0.87;
    transition: ease 0.28s;
}
.new-post-text {
    font-family: 'Lora', serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-bottom: 8px;
}
.header2 {
    font-family: 'Lora', serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}
.new-post-description-text {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(46, 46, 46, 0.63);
}
.error-block,
.success-block {
    display: none;
    width: 82%;
    height: 44px;
    border-radius: 5px;
    margin-bottom: 16px;
    align-items: center;
    padding-left: 12px;
}
.error-block {
    border-left: 2px solid #e86961;
    background-color: #ffebea;
}
.success-block {
    border-left: 2px solid #67c38c;
    background-color: #e6fcef;
}
.error-block_image {
    width: 24px;
    height: 24px;
    display: flex;
    margin-right: 10px;
}
.error-block_text {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #2e2e2e;
}
.main-information-block {
    display: flex;
    flex-direction: column;
    width: 82%;
    padding: 40px 40px 56px 40px;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 6px 12px -10px rgba(0, 0, 0, 0.2);
}
.main-blocks__wrapper {
    width: 100%;
    display: flex;
}
.form {
    display: flex;
    width: 54%;
    margin-right: 20px;
    padding-right: 80px;
    flex-direction: row;
    flex-wrap: wrap;
}
.form__input-field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}
.form__input-field_label {
    width: 100%;
    display: flex;
    margin-bottom: 5px;

    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #7a7a7a;
}
.form__input-field_input, .form__input-field_input-error {
    width: 100%;
    height: 40px;
    outline: 0;
    border: none;
    padding: 8px 4px 8px 4px;

    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.form__input-field_input {
    border-bottom: 1px solid #eaeaea;
}
.form__input-field_input-error {
    border-bottom: 1px solid #e86961;
}
.form__input-field_input:focus {
    border-bottom: 1px solid #2e2e2e;
}
.form__input-field_input:not(:placeholder-shown) {
    background-color: #f7f7f7;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #2e2e2e;
}
.form__input-field_label-bottom,
.form__input-field_label-bottom-error {
    margin-top: 12px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.form__input-field_label-bottom {
    color: #999999;
}
.form__input-field_label-bottom-error {
    display: none;
    color: #e86961;
}
.form__input_file-input {
    display: none;
}
.form__input-field_file-label {
    display: flex;
    cursor: pointer;
    place-items: center start;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #2e2e2e;
}
.form__input-field_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    background-color: #f7f7f7;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border: 1px dashed #d3d3d3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.form__input-field_author-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
.form__input-field_big-photo,
.form__input-field_small-photo {
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px dashed #d3d3d3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.form__input-field_big-photo {
    width: 100%;
    height: 160px;
}

.form__input-field_small-photo {
    width: 53%;
    height: 150px;
}
.form__input-field_preview-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.preview {
    display: flex;
    width: 45%;
    height: 100px;
    flex-wrap: wrap;
}
.preview__article {
    box-sizing: border-box;
    width: 100%;
    height: 385px;
    border-radius: 32px 32px 0 0;
    border: 1px solid #d3d3d3;
    padding: 32px 16px 0 16px;
    margin-top: 8px;
    margin-bottom: 20px;
    position: relative;
}
.preview__article_content {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: 1px solid #eaeaea;
}
.dots-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding-left: 9px;
    margin-bottom: 36px;
    height: 23px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}
.dot {
    display: flex;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #d9d9d9;
    margin-right: 3px;
}
.article__content_header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 36px;
}
.article__content_header_h2 {
    display: flex;
    font-family: 'Lora', serif;
    font-size: 20.4px;
    font-weight: 400;
    line-height: 24px;
    color: #2e2e2e;
}

.article__content_header_subtitle {
    display: flex;
    color: rgba(46, 46, 46, 0.63);
    font-family: 'Oxygen', sans-serif;
    font-size: 10.2px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 4px;
}

.preview__article_image {
    display: flex;
    background-color: #f7f7f7;
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.preview__card {
    display: flex;
    width: 100%;
    height: 396px;
    border-radius: 32px 32px 0 0;
    border: 1px solid #d3d3d3;
    padding: 32px 16px 0 16px;
    margin-top: 8px;
    margin-bottom: 20px;
    position: relative;
}

.preview__article_left-shadow {
    position: absolute;
    width: 120px;
    height: 101%;
    right: -2px;
    top: -2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%);
}

.preview__post-card_bottom-shadow {
    position: absolute;
    width: 101%;
    height: 37px;
    left: -2px;
    bottom: -2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 95%);
}
.post-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 67%;
    height: 291px;
    margin-bottom: 37px;
    border: 1px solid #eaeaea;
}
.post-card__image {
    width: 100%;
    height: 150px;
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 1px solid #eaeaea;
}

.post-card__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 93px;
    padding: 14px 13px 0px 13px;
}
.post-card__text_title {
    font-family: 'Lora', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 7px;
    text-align: left;
    color: #101315;
}

.post-card__text_subtitle {
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #7a7a7a;
}
.post-card__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 46px;
    padding: 0 13px 0 13px;
    border-top: 1px solid #eaeaea;
    background-color: #fcfcfc;
}

.post-card__info_image {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #f7f7f7;
}

.post-card__info_author-name {
    display: flex;
    margin-left: 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: #999999;
}

.post-card__info_date {
    display: flex;
    margin-left: auto;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    color: #999999;
}
.label-text {
    display: flex;
    color: #7a7a7a;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: justify;
}

.input-field__delete-block,
.input-field__delete-block_camera {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.input-field__delete-block {
    margin-top: 12px;
}

.delete-block_new-label,
.delete-block_clear-label {
    display: flex;
    cursor: pointer;
    margin-right: 16px;
}

.new-label_camera,
.new-label_trash-can {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

.new-label_camera {
    background: url(/images/icon-camera.svg);
}

.new-label_trash-can {
    background: url(/images/icon-delete-2.svg);
}

.content__textarea {
    border-color: #eaeaea;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    resize: vertical;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}